<div id="contents">

    <h1>Eat-Da-Burger!</h1>

    <p style="text-align:center;"><img scr="/assets/img/burger.jpg" width="400" height="300" alt="burger"></img></p>

    <div id="leftContents">
        <h2>Waiting to be devoured...</h2>

        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burger/burger-block devoured=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div id="rightContents">
        <h2>Devoured! Yummy!!</h2>

        <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burger/burger-block devoured=false}}
            {{/if}}
            {{/each}}
        </ul>
    </div>

    <div id="bottom">
        <h2>Add a Burger</h2>
        <form class="create-form">
            <div class="form-group">
                <label for="ca">Burger Name:</label>
                <input type="text" id="ca" name="name">
            </div>
                <button id="add-burger" type="submit">Submit</button>
        </form>
    </div>


    <p>Enter a burger you want to eat and Click the "Submit" button.</p>



</div>